html 
{
	font-size: 16px;
	box-sizing: border-box;
}

a
{
	outline: none;
}

*, *:before, *:after 
{
	box-sizing: inherit;
}

*::selection
{
	background: #d6d6d6;
}

/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear : both; }
.clearfix { *zoom: 1; }

/* Hide iOS video play button */
*::-webkit-media-controls-start-playback-button 
{
	display: none!important;
  -webkit-appearance: none;
}

nav {
	font-family: $serif-font;
    font-size: 1.1em;
    max-width: 280px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 0.6em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

nav > a {
    padding: 1.2em 1.2em;
    opacity: 0.5;
    display: block;
    text-align: center;
    vertical-align: text-bottom;
}

nav > a:hover
{
	opacity: 1;
}

nav > #davigo {
    text-transform: uppercase;
    transform: translateY(2px);
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 0.9em;
    text-shadow: 0px 0px 10px #ff9900;
}

@media (min-width: 480px)
{
    nav {
        max-width: 100%;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    nav > a {
        padding: 1em 1.3em;
        margin: 0 0.6em;
        flex-basis: auto;
    }
}

@media (min-width: 768px)
{
    nav {
        max-width: 100%;
        margin-top: 0.4em;
        margin-bottom: 1em;
    }

    nav > a {
        padding: 1em 1.3em;
        margin: 0 0.6em;
        flex-basis: auto;
    }
}

main
{
	max-width: 760px;
	margin: 0 auto;
	display: block;
}

header
{
	display: block;
	margin-top: 10px;
	margin-bottom: 60px;
}

@media (min-width: 768px)
{
	header
	{
		margin-top: 10px;
		margin-bottom: 80px;
	}
}

footer
{
	display: block;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 0.8em;
	opacity: 0.5;
}

.title-logo
{
	width: 161px;
	height: 175px;
	
	margin: 0 auto;
	margin-bottom: 30px;
	transform: translate(-20px, 0);
	
	background-image: url("/media/portfolio/r-logo-spritesheet.png");
	background-size: cover;
}

@media (min-width: 768px)
{
	.title-logo
	{
		width: 230px;
		height: 250px;
		
		margin-bottom: 60px;
	}
}


.title-logo:hover
{
	animation: titleshine 0.7s steps(11) forwards;
}

@keyframes titleshine
{
	to { background-position: -1100% 0px; }
}

.title-text
{
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 2.5em;
	max-width: 920px;
	padding: 0 1.5em;	
}

.davigo-preview {
	position: relative;
}

.social-links
{
	margin: 0 auto;
	padding: 0 5px;
	text-align: center;
}

.social-link {
	width: 35px;
	height: 35px;
	display: inline-block;
	margin: 0 6px;
	user-select: none;
	position: relative;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	filter: brightness(0.8);
}

@media (min-width: 768px)
{
	.social-link
	{
		margin: 0 12px;
	}
}

#social-youtube {	
	background-image: url("/media/socials/youtube.svg");
}

#social-youtube:hover {
	filter: brightness(0) saturate(100%) invert(12%) sepia(98%) saturate(7190%) hue-rotate(1deg) brightness(101%) contrast(104%);
}

#social-twitter {
	background-image: url("/media/socials/twitter.svg");
}

#social-twitter:hover {
	filter: brightness(0) saturate(100%) invert(48%) sepia(86%) saturate(1772%) hue-rotate(176deg) brightness(100%) contrast(90%);
}

#social-twitch {
	background-image: url("/media/socials/twitch.svg");
}

#social-twitch:hover {
	filter: brightness(0) saturate(100%) invert(37%) sepia(46%) saturate(7458%) hue-rotate(250deg) brightness(104%) contrast(102%);
}

#social-patreon {
	background-image: url("/media/socials/patreon.svg");
}

#social-patreon:hover {
	filter: brightness(0) saturate(100%) invert(56%) sepia(12%) saturate(6015%) hue-rotate(326deg) brightness(98%) contrast(99%);
}

// Special filters for the special boy.
#social-instagram {
	filter: brightness(1) grayscale(1);
	opacity: 0.35;
	background-image: url("/media/socials/instagram.svg");
}

#social-instagram:hover {
	opacity: 1;
	filter: none;
}

video {
	width: 100%;
	height: 100%;
	background-size: contain;
	display: block;
	cursor: auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.controls
{
	height: 80px;
	width: 80px;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-size: cover;
	z-index: 10;
	cursor: pointer;
	background-image: url("/media/portfolio/play-button-spritesheet.png");	
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.controls:hover
{
	animation: play 0.15s steps(6) forwards;
}

@keyframes play
{
	to { background-position: -480px 0px; }
}

.loading
{
	height: 128px;
	width: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-size: cover;
	z-index: 10;
	pointer-events: none;
	background-image: url("/media/portfolio/loading-spritesheet.png");	
	animation: loading 1s steps(23) infinite;
	display: none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

@keyframes loading
{
	from { background-position: 0px 0px; }
	to { background-position: -2944px 0px; }
}

.video-link
{
	z-index: 10;
	cursor: pointer;
	height: 36px;
	width: 36px;
	bottom: 15px;
	right: 20px;
	position: absolute;
	background-size: cover;
	background-position: -216px 0px;
	background-image: url("/media/portfolio/hotlink-spritesheet.png");
}

.video-link:hover
{
	animation: link 0.2s steps(6) forwards;
}

@keyframes link
{
	from { background-position: 0px 0px; }
	to { background-position: -216px 0px; }
}

.gallery-col
{
	width: 100%;
	position: relative;
}

@media (min-width: 768px)
{
	.gallery-col
	{
		width: 50%;
		float: left;
	}
}

.gallery-row
{
	width: 100%;
}

.patreon-home
{
	margin: 0 auto;
	text-align: center;
}

.button.patreon
{
	background-color: #FF424D;
	padding: 0.78em 1.55em;
}

.button.patreon:hover 
{
	background-color:#333333;
}

.email {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	background-color: #eeeeee;
	padding: 0.2em 0.4em;
	border: 2px dashed #bbbbbb;
	border-radius: 4px;
	font-weight: 600;	
}

.email:hover {
	background-color: #dddddd;
}

.email:active {
	background-color: #cccccc;
}

.email > span::selection {
	background-color: #ffb91a;
}

.email > span:last-child {
	user-select: none;
}

.email-clipboard {
	display: none;
}

.email-clipboard > span:last-child {
	cursor: pointer;
}

.email-mailto {
	display:inline;
}

.clipboard-alert {
	position: absolute;
	transform: translate(0, -100%);
	user-select: none;
	background: white;
	padding: 0.05em 0.6em;
	border-radius: 8px;
	font-size: 0.9em;
	filter: drop-shadow(0.2em 0.2em 8px #00000066);
	opacity: 0;
	transition: opacity linear 0.6s;
}

.opaque {
	opacity: 1;
	transition: opacity linear 0s;
}

@media (hover: hover) and (pointer: fine) {
	.email-clipboard {
		display: inline;
	}

	.email-mailto {
		display: none;
	}
}

#twitch-embed {
	padding-top: calc(56.25%);
	position: relative;
	height: 0;
	width: 100%;
}

#twitch-embed > iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.home-media {
	border-radius: 8px;
	overflow: hidden;
	width: 100%;
	margin: 40px auto 45px;
}

@media (min-width: 768px) {
	.home-media {
		width: 90%;
	}
}

