@import 'reset';

$serif-font: 'Zilla Slab', serif;
$sans-serif-font: 'Open Sans', sans-serif;

$accent-color: #ff0066;

@import 'button';
@import 'form';
@import 'contact';
@import 'home';
@import 'text';
@import 'tutorial';
@import 'tutorials';
@import 'icons';
@import 'prism';