---
layout: layout.njk
title: About - Roystan
---
<main class="contact">
{% md %}
## About me
Hi! My name is Roystan. I work as a programmer, game developer and educator. I'm also a pretty big fan of geese, though I do acknowledge that they can be a public nuisance.

{% endmd %}
<div class="figure">
	<script>
		var images = ['gosling', 'knight', 'liege', 'noble'];
	
		function getRandomInt(min, max) {
		  min = Math.ceil(min);
		  max = Math.floor(max);
		  var rand = Math.random();
		  return Math.floor(rand * (max - min)) + min;
		}

		document.write(`<img src="/media/common/${images[getRandomInt(0, 4)]}.gif" class="small gosling"></img>`)
	</script>
	<noscript>
		<img src="/media/common/gosling.gif" class="small gosling"></img>
	</noscript>
</div>
{% md %}

You can contact me at {{ macro.email() }}. Sometimes I receive a lot of messages, but I'll try and get back to you as soon as I can!

## About this site

This website is built using the <a href="https://www.11ty.dev/" target="_blank">Eleventy</a> static site generator and deployed to <a href="https://www.netlify.com/" target="_blank">Netlify</a>. I do all my web development with <a href="https://notepad-plus-plus.org/downloads/" target="_blank">Notepad++</a> and <a href="https://visualstudio.microsoft.com/" target="_blank">Visual Studio</a>. I use <a href="https://github.com/Edditoria/markdown-plus-plus" target="_blank">this plugin</a> for Markdown syntax highlighting in Notepad++. 

The source code for this site is available below.

{{ macro.repo('https://github.com/IronWarrior/Roystan.net')}}
{% endmd %}
</main>

<script>
document.getElementsByClassName("email")[0].addEventListener("click", () =>
{
	navigator.clipboard.writeText("roystanhonks@gmail.com");

	const alert = document.getElementsByClassName("clipboard-alert")[0];
	alert.classList.add("opaque");

	setTimeout(() => alert.classList.remove("opaque"), 500);
});
</script>