---
layout: layout.njk
title: Unity Tutorials and Portfolio - Roystan
description: Roystan is a programmer, designer, game developer, and educator who writes clear articles to teach complex topics.
ogTitle: Unity Tutorials and Portfolio at Roystan
---
<header>
	<main>
		<div class="title-logo"></div>
		<div class="social-links clearfix">
			<a class="social-link" id="social-twitter" target="_blank" href="https://twitter.com/roystanhonks"></a>
			<a class="social-link" id="social-youtube" target="_blank" href="https://www.youtube.com/channel/UCMt894M7mGO0e6ST1cYUGVQ"></a>							
		</div>
		<div class="title-text">
			<p>Hi! My name is Roystan. I work as a programmer, designer and educator. My current project is <a href="https://www.davigogame.com/" target="_blank">DAVIGO, an asymmetrical VR vs. PC game</a>. It looks like this.</p>
			<div class="davigo-preview">
				<div class="controls"></div>
				<div class="loading"></div>
				<a class="video-link" href="https://www.youtube.com/watch?v=ZmeFyniZrZU" target="_blank"></a>
				<video poster="{{ 'media/portfolio/WebsiteBGPoster.png' | url }}" muted loop preload="metadata">			
						<source src="{{ '/media/portfolio/WebsiteBGRedux.webm' | url }}" type="video/webm" />
						<source src="{{ '/media/portfolio/WebsiteBGRedux.mp4' | url}}" type="video/mp4" />
				</video>
			</div>
			<p>I also write <a href="/articles/">free and open-source tutorials</a> about game development using Unity. If you enjoy them, I have a <a href="https://www.patreon.com/roystan" target="_blank">Patreon</a>  you can support.</p>
			<div class="patreon-home">
				<a class="button patreon" href="https://www.patreon.com/bePatron?u=10821388" target="_blank">
					<span>Become a patron</span>
				</a>
			</div>
		</div>
	</main>
</header>